Library/
Temp/
Obj/
obj/
Builds/
Logs/
Backups/
Tools/
UserSettings/
.packages/
.vscode/
**/bin/
**/obj/
**/App_Data/
*.csproj.user
*.sln
/Assembly-CSharp*.csproj
/Unity*.csproj
.env
.env.*
*.publishsettings
*.publishprofile
*.pfx
/Art/Blender/Models/*.blend[0-9]
